body {
    width: 100vw;
    height: 100vh;
    --shadow1: #FAFBFF;
    --shadow2: #161b1d3b;
}

.buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.button {
    width: 100px;
    aspect-ratio: 1;
    margin: 50px;
    border-radius: 20%;
    cursor: pointer;
}

.button1, .button5:active {
    box-shadow: inset -5px -5px 10px var(--shadow1), inset 5px 5px 10px var(--shadow2);
}

.button2, .button5 {
    box-shadow: -5px -5px 10px var(--shadow1), 5px 5px 10px var(--shadow2);
}

.button3 {
    box-shadow: -10px -10px 20px var(--shadow1), 10px 10px 20px var(--shadow2);
}

.button4 {
    box-shadow: -20px -20px 40px var(--shadow1), 20px 20px 40px var(--shadow2);
}

.button5 {
    background-color: #E4EBF1;
}